name: Deploy release to sonatype 

# Run workflow when the workflow to check the quality is completed
on:
  workflow_dispatch:
  workflow_run:
    workflows: [CodeQL]
    types:
      - completed
    branches: 
      - 'release/**'  
jobs:
  publish-package:
    permissions:
      contents: write
      packages: write
    uses: maxxq-org/maxxq-workflows/.github/workflows/maven-publish-release.yml@main
    with:
      java-version: '17'
      java-distribution: 'temurin'
      maven-deployment-repo: 'https://central.sonatype.com/repository/maven-releases/'
    secrets:
      gpg_private_key: "${{ secrets.GPG_PRIVATE_KEY }}"
      gpg_passphrase: ${{ secrets.GPG_PASSPHRASE }}
      repo-username: ${{ secrets.NEXUS_USERNAME }}
      repo-password: ${{ secrets.NEXUS_PASSWORD }}
        
